<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.name %>!</h1>
    <p>
      Seu pagamento da assinatura do portal Tudo Aqui Gospel foi detectado e sua
      conta está ativada!
      Para acessá-la, basta fazer <%= link_to 'login', root_url %> em nosso portal!
    </p>
    <p>
      Aguardamos você! :)
    </p>
  </body>
</html>
