<!-- versículos -->
<div class="rst-pageline container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-pageline-content">
        <span>Versículo</span>
        <div class="rst-pageline-slider owl-carousel">
          <% if @versicles.present? %>
            <% @versicles.each do |versicle| %>
              <p><%= versicle.text %><%= versicle.book %> - <%= versicle.chapter %>, <%= versicle.versicle %></p>
            <% end %>
          <% else %>
            <p>Ainda não existem versículos cadastrados</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fim versículos -->
