  <div class="col-sm-6 col-xs-12">
    <span class="input-group-btn">
      <span class="input-group-text">

      </span>
      <span class="btn btn-primary btn-file">
        <img src="/images/icon/addmedia.png" alt="" />
        <%= file_field_tag 'file[]', multiple: true, class: 'rst-pageinput' %>
      </span>
  </div>
