<section id='new-publication'>
  <div class="container">
    <div class="col-md-12">
      <h1>Nova Publicação</h1>

      <%= render 'form', publication: @publication %>
    </div>
  </div>
</section>
