<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Reenviar intruções de desbloqueio</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Section Register -->
<section id="rst-register-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="rst-section-title rst-section-title-box">
            <h4>Reenviar intruções de desbloqueio</h4>
          </div> <!-- end section title -->
          <div class="row">
            <div class="col-sm-6">
              <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'rst-pageinput' %>
            </div>
            <div class="col-xs-12">
              <%= f.submit "Reenviar", class: 'rst-pagebutton' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End Section Register -->
