<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Contato</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Map Iframe -->
<div class="container">
  <div class="row">
  </div>
</div>
<!-- End Map Iframe -->

<!-- Category Page Content -->
<section id="rst-catcontent">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <!-- Author zone -->
        <div class="rst-section-title rst-section-title-box">
          <h4>Envie-nos uma mensagem!</h4>
        </div>
        <div class="rst-getintouch-form">

          <%= render 'form', contact: @contact %>

        </div>

        </div>
        <div class="col-sm-4">
        <aside class="widget widget_social">
          <h3>Social</h3>
          <a href="#" target="_blank">
            <i class="fa fa-facebook"></i>
            <b>15,000</b>
            <span>Fans</span>
          </a>
          <a href="#" target="_blank">
            <i class="fa fa-twitter"></i>
            <b>30,000</b>
            <span>Seguidores</span>
          </a>
          <a href="#" target="_blank">
            <i class="fa fa-rss"></i>
            <b>9,000</b>
            <span>Assinantes</span>
          </a>
        </aside>
        <!-- end widget social -->

        <aside class="widget widget_contactus">
          <h3>Fale conosco</h3>
          <ul>
            <li><a href="tel:+55 21 3492 6421"><span><i class="fa fa-mobile"></i>(21)3492 6421</span></a></li>
            <li><a href="mailto:suporte@tudoaquigospel.com.br"><span><i class="fa fa-paper-plane"></i> suporte@tudoaquigospel.com.br</span></a></li>
          </ul>
        </aside>

        </div>
        <!-- End Content Sidebar -->
        </div>
        </div>
        </section>
        <!-- End Category Page Content -->
