<%= form_for(pub_attachment) do |f| %>
  <% if pub_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pub_attachment.errors.count, "error") %> prohibited this pub_attachment from being saved:</h2>

      <ul>
      <% pub_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
