<footer>
  <div class="container">
    <div class="rst-footerline"></div>
  </div>
  <div class="rst-footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 rst-copyright">
          <p>© 2016 Tudo Aqui Góspel. Todos os direitos reservados.</p>
        </div>
        <div class="col-xs-6 rst-design">
          <p>Desenvolvido pela Vortex Developer <a href="#"><i class="fa fa-angle-up"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
