<p>Bem vindo! <%= @email %>!</p>

<p>Para confirmar seu cadastro basta clicar no link abaixo. Obrigado!</p>

<p><%= link_to 'Confirmar meu cadastro', confirmation_url(@resource, confirmation_token: @token) %></p>
