<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para realizar o reset de sua senha do portal TUDO AQUI GÓSPEL, para resetar basta clicar non link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você que solicitou a alteração de senha apenas ignore esse email.</p>
<p>Sua senha não será alterada até que vc clique no link abaixo e digite uma nova senha.</p>
