
<div class="success-container">
  <div class="success-inner">
    <div style="margin-right: 40px; width: 50px;">
      <%= image_tag 'vista.png'%>
    </div>
    <div>
      <h1>Processo de pagamento finalizado!</h1>
      <p>
        Estamos aguardando a confirmação do pagamento para ativar a sua conta! :)<br />
        Enviaremos um email assim que tivermos mais notícias.
      </p>
    </div>
  </div>
</div>
