<!-- Page Breadcrumb -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="rst-breadcrumb">
        <a href="#"><span>Home</span></a>
        <span>></span>
        <a href="#"><span>Cadastro de Anunciante</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Page Breadcrumb -->

<!-- Section Register -->
<section id="rst-register-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% user = User.new(session[:user_error]) || @user %>
        <% personal_profile = PersonalProfile.new(session[:profile_error]) || @personal_profile %>
        <% announcer = Announcer.new(session[:announcer_error]) || @announcer %>
        <% session[:user_error] = nil %>
        <% session[:profile_error] = nil %>
        <% session[:announcer_error] = nil %>
        <%= render partial: 'form', locals: {user: user, announcer: announcer, personal_profile: personal_profile} %>
      </div>
    </div>
  </div>
</section>
<!-- End Section Register -->
