<div class="add-image-actions" style='float: none;'>
  <%= form_for(@gallery, :url => announcers_add_photo_path) do |photo| %>
      <button id="input-photo" class="rst-pagebutton announcer-buttons-new blue-bg" type="submit" value="INSERIR FOTO">
        <i class="fa fa-plus"></i>
      </button>
      <%= photo.submit "SALVAR", class: 'rst-pagebutton announcer-buttons-new blue-bg hide', id: 'save-button'%>
      <%= photo.file_field :image, class: 'image-button', id: 'image-button-photo2' %>
  <% end %>
</div>
