<section id="rst-newsandhot">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="rst-section-title">
          <h4>Galeria da Empresa</h4>
        </div>
        <div class="rst-newsandhot-post">
          <%= add_photo_button(@announcer) %>
          <div class="rst-newsandhot-post-content">
            <article>
                <% if @announcer.photos.present? %>
                    <div id="photo-gallery" class="row">
                      <% @announcer.photos.each do |photo| %>
                        <%= render partial: "announcers/edit/photo", locals: { photo: photo } %>
                      <% end %>
                    </div>
                <% else %>
                    <div class='alert'>
                        Galerias ainda não cadastradas
                    </div>
                <% end %>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
