<div class="row">
  <div class="col-xs-12">
    <div class="rst-section-title">
      <h4>Galeria da Empresa</h4>
    </div>
    <div class="rst-newsandhot-post">
      <div class="rst-newsandhot-post-content">

        <%= form_tag announcers_add_photo_path, method: :post, multipart: true do %>
          <input id="input-photo" class="rst-pagebutton" type="submit" value="INSERIR FOTO"/>
          <%= file_field_tag :image, class: 'image-button', id: 'image-button-photo' %>
          <%= submit_tag "SALVAR", class: 'rst-pagebutton' %>
        <% end %>

        <article>
          <div class="row">
            <% @announcer.photos.each do |photo| %>
            <div class="photobox">
              <div class="rst-postpic gallery">
                <a href="#"><%=  image_tag photo.image.url %></a>
              </div>

            </div>
            <% end %>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
